* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 0;	
}
main a {
	text-decoration: none;
	color: inherit;
}
header {
	margin-left: 50px;
	margin-right: 50px;
}
.menu {
	display: flex;
	justify-content: space-between;
	height: 100px;
}
.menu a:visited {
	color: #0065fc;
}
.menu div:first-child img {
	width: 150px;
}
.menu div:first-child {
	flex-grow: 1;
	align-self: flex-end;
	margin: 0;
}
.menu div:nth-child(4) a {
	font-weight: 700;
	color: #0065FC;	
}
.menu div:nth-child(3) a {
	color: gray;	
}
.menu div:nth-child(2) {
	border-top: 2px solid #0065FC;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 90px;
}
.menu div:nth-child(3){
	padding-top: 42px;
	margin-right: 110px;
}
.menu div:nth-child(4) {
	padding-top: 42px;
	margin-right: 20px;
}
.menu div {
	font-size: 1.2em;
}
header a {
	text-decoration: none;
}
header h1 {
	font-size: 1.7em;
	margin-bottom: 0;
	margin-top: 50px;
}
header h3 {
	font-weight: normal;
	font-size: 1.1em;
	margin-top: 0;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.searchButton{
	font-family: raleway;
	font-size: 1em;
	padding: 12px;
	width: 170px;
    background-color: #0065FC;
    color:#ffffff;
    border: none;
    border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.searchButtonmob{
	display: none;
}
.searchTerm {
	font-family: raleway;
	width: 260px;
	padding: 12px;
	border-left: none;
	border-right: none;
	border-top: 2px solid #f2f2f2;
	border-bottom-color: #f2f2f2;
}
::placeholder {
	font-size: 1.1em;
	font-weight: bold;
  	color: black;
  	opacity: 1;
}
.search span {
	
	padding: 14px 18px;
	background-color: #f2f2f2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#filtres {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
#filtres h3 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	padding-top: 13px;
	margin-right: 40px;
}
#filtres button:hover {
	box-shadow: 5px 5px 15px #deebff;
	transform: matrix(1.1,0,0,1.1,0,0);
}
#filtres div {
	margin-right: 35px;
	margin-left: 17px;
}
#filtres :nth-child(3) span {
	padding-left: 19px;
	padding-right: 19px;
}
#filtres :nth-child(2) span {
	padding-top: 14px;
	padding-bottom: 17px;
}
#filtres :nth-child(1) span {
	padding-top: 15px;
	padding-bottom: 15px;
}
#filtres button {
	font-family: raleway;
	padding-top: 12px;
	padding-right: 25px;
	padding-bottom: 12px;
	background-color: white;
	color: black;
	border: 2px solid #f2f2f2;
	border-left: none;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
#filtres div i {
	color: #0065fc;
	
}
#filtres span {
	padding: 15px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #deebff;
	margin-right: 10px;
	margin-left: -25px;
	border-radius: 50%;
}
.info span {
	align-self: center;
	border-radius: 50%;
	border: 2px solid #f2f2f2;
	text-align: center;
	height: 22px;
	width: 22px;
	margin-right: 10px;
}
.info i {
	align-self: center;
	border-radius: 50%;
	border: 2px solid #f2f2f2;
	text-align: center;
	height: 22px;
	width: 22px;
	margin-top: -10px;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
	color: #0065FC;
}
.info {
	display:flex;
	margin-top: 30px;
	margin-bottom: 30px;
	
}
.info div p {
	font-size: 1.1em;
}
main a :hover {
	box-shadow: 8px 8px 20px #deebff;
	transform: scale(1.1);
}
.cardheb :hover {
	box-shadow: none;
	transform: scale(1);
}
.cardpop :hover {
	box-shadow: none;
	transform: scale(1);
}
.cardacttrois :hover {
	box-shadow: none;
	transform: scale(1);
}
.cardactgrand :hover {
	box-shadow: none;
	transform: scale(1);
}
.cardactun :hover {
	box-shadow: none;
	transform: scale(1);
}
.cardactdeux :hover {
	box-shadow: none;
	transform: scale(1);
}
main h2 {
	font-size: 1.7em;
	margin: 0;
	margin-bottom: 2vw;
}
#heberg {
	display: flex;
	margin: 50px;
}
.heb {
	display: flex;
	flex-direction: column;
	order: 1;
	background-color: #f2f2f2;
	padding: 2vw;
	border-radius: 15px;
	margin-right: 2vw;
}
.heb h4 {
	margin: 0;
}
.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card h4 {
	margin-top: 2vw;
}
.cardheb {
	margin-bottom: 2vw;
	width: 18vw;
	min-width: 250px;
	background-color: white;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cardheb img {
	width: 100%;
	height: 9vw;
	min-height: 150px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 10px;
}
.cardheb p span {
	font-weight: bold;
}
.cardheb h4,p {
	margin: 0;
	padding-left: 10px;
	padding-bottom: 10px;
}
.cardheb h4 {
	font-size: 1em;
}
.cardpop {
	display: flex;
	background-color: white;
	margin-bottom: 1vw;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cardpop img {
	height: 9vw;
	width: 9VW;
	object-fit: cover;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}
.textedroite {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 5px;
}
.textedroite :nth-child(3) {
	margin-top: auto;
}
.textedroite h4 {
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 10px;
}
.textedroite p {
	display: flex;
}
.textedroite p span {
	padding-left: 4px;
	font-weight: bold;
}
.fourstars {
	display: flex;
	padding-left: 10px;
	padding-bottom: 10px;
}
.fourstars i {
	color: #0065fc;
}
.fourstars :nth-child(5) {
	color: #f2f2f2;
}
.fivestars {
	display: flex;
	padding-left: 10px;
	padding-bottom: 10px;
}
.fivestars i {
	color: #0065fc;
}
.threestars {
	display: flex;
	padding-left: 10px;
	padding-bottom: 10px;
}
.threestars i {
	color: #0065fc;
}
.threestars :nth-child(5) {
	color: #f2f2f2;
}
.threestars :nth-child(4) {
	color: #f2f2f2;
}
.pop {
	width: 50vw;
	display: flex;
	flex-direction: column;
	
	order: 2;
	background-color: #f2f2f2;
	border-radius: 15px;
	padding: 2vw;
}
.pop article {
	margin: auto;
}
.titrepop {
	display: flex;
	justify-content: space-between;
}
.titrepop h2 {
	margin-bottom: 2vw;
}
.cardpopulaire {
	display: flex;
	flex-direction: column;
	min-height: 33vw;
	justify-content: space-between;
}
#activ {
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
}
#activ h2 {
	margin-bottom: 2vw;
}
.activcard {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.activcard article {
	height: 30vw;
	width: 20vw;
	min-width: 270px;
	margin-bottom: 2vw;
}
.cardactun {
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cardactun img {
	width: 100%;
	height: 87%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 10px;
}
.cardactun h4 {
	margin: auto;
	padding-left: 10px;
	font-size: 1em;
}
.cardactdeux {
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cardactdeux img {
	width: 100%;
	height: 76%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 10px;
}
.cardactdeux h4 {
	margin: auto;
	padding-left: 10px;
	font-size: 1em;
}
span .cardactun {
	height: 18vw;
}
span .cardactdeux {
	height: 10vw;
}
span .cardacttrois {
	height: 14vw;
}
.cardactgrand {
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cardactgrand img {
	width: 100%;
	height: 92%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 10px;
}
.cardactgrand h4 {
	margin: auto;
	padding-left: 10px;
	font-size: 1em;
}
.cardacttrois {
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cardacttrois img {
	width: 100%;
	height: 83%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 10px;
}
.cardacttrois h4 {
	margin: auto;
	padding-left: 10px;
	font-size: 1em;
}
footer {
	display: flex;
	background-color: #f2f2f2;
	padding: 50px;
	margin-top: 50px;
}
footer div {
	width: 30vw;
}
footer div p {
	line-height: 90%;
	font-size: 1.1em;
	padding-left: 0;
}
footer h4 {
	font-size: 1.1em;
	margin-bottom: 10px;
}
@media all and (max-width: 1370px) {
	.menu div {
		font-size: 1.1em;
	}
	.menu div:first-child img {
		width: 120px;
	}
	.menu div:nth-child(3){
		margin-right: 70px;
	}
	.menu div:nth-child(2) {
		margin-right: 50px;
	}
	#filtres {
		margin-left: 0;
	}
	#filtres div {
		margin-left: 17px;
		margin-right: 30px;
	}
	#filtres h3 {
		padding-left: 0;
		margin-right: 30px;
	}
	.info i {
		margin-top: -10px;
	}
	header {
		margin-left: 15px;
		margin-right: 15px;
	}
	header h1 {
		font-size: 1.5em;
	}
	header h3 {
		font-size: 1em;
	}
	main h2 {
		font-size: 1.4em;
	}
	#heberg {
		flex-direction: column;
		margin-left: 15px;
		margin-right: 15px;
	}
	.pop {
		width: 100%;
		order: 1;
		margin-bottom: 1vw;
	}
	.pop article {
		width: 30vw;
		margin-bottom: 5vw;
	}
	.cardpopulaire {
		flex-direction: row;
		min-height: 0px;
	}
	.textedroite div {
		font-size: 0.9em;
	}
	.cardpop img {
		height: 10vw;
		width: 10vw;
	}
	.heb {
		margin-right: 0;
	}
	.cardheb {
		width: 30vw;
	}
	.cardheb div img {
		width: 100%;
		min-width: none;
	}
	.activcard span {
		display: flex;
	}
	span .cardactun {
		height: 30vw;
		margin-right: 1.2vw;
	}
	span .cardactdeux {
		height: 30vw;
		margin-right: 1.2vw;		
	}
	span .cardacttrois {
		height: 30vw;
		margin-right: 1.2vw;
	}
	.cardactgrand {
		margin-right: 1.2vw;
	}
	.activcard {
		justify-content: center;
	}
	.activcard article {
		width: 43vw;
	}
	.activcard :nth-child(2) {
		order: 1;
	}
	.cardactdeux img {
		height: 87%;		
	}
	.cardacttrois img {
		height: 87%;
	}
	.cardactgrand img {
		height: 87%;
	}
	footer div p {
		font-size: 0.9em;
	}
	footer h4 {
		font-size: 1em;
	}
}
@media all and (max-width: 1155px) {
	.cardpopulaire {
		flex-direction: column;
		min-height: 0px;
	}
	.textedroite div {
		font-size: 1em;
	}
	.cardpop img {
		height: 14vw;
		width: 30vw;
	}
	.pop article {
		width: 70vw;
	}
}
@media all and (max-width: 865px) {
	.cardpop img {
		height: 14vw;
		width: 30vw;
	}
	.pop article {
		width: 94vw;
	}
	.cardheb {
		width: 45vw;
	}
	.activcard span {
		display: flex;
		flex-direction: column;
	}
	span .cardactun {
		height: 70vw;
	}
	span .cardactdeux {
		height: 70vw;		
	}
	span .cardacttrois {
		height: 70vw;
	}
	.activcard article {
		height: 70vw;
		width: 100%;
		margin-bottom: 20px;
	}
	.activcard {
		justify-content: center;
	}
	.cardactdeux img {
		height: 87%;		
	}
	.cardacttrois img {
		height: 87%;
	}
	.cardactgrand img {
		height: 87%;
	}
	#activ {
		margin-left: 15px;
		margin-right: 15px;
	}
	#activ h2 {
		font-size: 1.3em;
	}
	.activcard :nth-child(2) {
		order: 2;
	}
	.activcard :nth-child(1) {
		order: 1;
	}
	.activcard :nth-child(3) {
		order: 3;
	}
	.activcard :nth-child(4) {
		order: 4;
	}
}
@media all and (max-width: 620px) {
	.menu div:nth-child(2) {
		border-top: none;
		border-bottom: 2px solid #0065FC;
		padding-bottom: 20px;
		padding-top: 20px;
		padding-right: 0;
		padding-left: 10%;
		margin-right: 0px;
		order: 3;		
	}
	.menu div:nth-child(3){
		padding-bottom: 22px;
		padding-top: 20px;
		padding-left: 15%;
		margin-right: 0;
		order: 4;		
	}
	.menu div:nth-child(4) {
		padding-top: 45px;
		padding-bottom: 22px;
		margin-right: 0px;
		padding-left: 25%;
		padding-right: 15px;
		order: 2;
	}
	.menu {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	}
	.menu div {
		width: 50%;
		font-size: 1em;
		margin-right: 15px;
	}
	header {
		margin: 0;
	}
	.menu div:first-child {
		margin: 0;
		padding-left: 15px;
		padding-bottom: 8px;
	}
	.menu div:first-child img {
		width: 120px;
	}
	header h1 {
		font-size: 1.2em;
		margin-left: 15px;
		margin-right: 15px;
	}
	header h3 {
		font-size: 1em;
		margin-left: 15px;
		margin-right: 15px;
	}
	.info {
		margin-left: 15px;
		margin-right: 15px;
	}
	.info i {		
		margin-top: -15px;		
	}
	.info div p {
		font-size: 1em;
	} 
	section {
		margin: 0;
	}
	.heb h2 {
		font-size: 1.3em;
		order: initial;
	}
	.pop {
		order: 1;
		border-radius: 0;
		padding: 15px;
		padding-top: 10vw;
		height: fit-content;
		width: 100%;
	}
	.cardpopulaire {
		font-size: 0.9em;
	}
	
	.pop :first-child i {
		font-size: 1.3em;
		padding-top: 1vw;
	}
	.pop h2 {
		font-size: 1.3em;
	}
	.pop article {
		justify-content: flex-start;
		width: 91vw;
	}
	#heberg {
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
	}
	#filtres {
		margin-left: 15px;
		margin-right: 15px;
	}
	#filtres button {
		margin-left: 20px;
		margin-right: 10px;
		margin-bottom: 15px;
		font-size: 1em;
		padding-right: 12px;
	}
	#filtres div {
		margin-right: 0;
		margin-left: 0;
	}
	#filtres h3 {
		margin-right: 600px;
		margin-bottom: 20px;
		padding-left: 0;
		margin-left: 0;
	}
	.search {
		justify-content: center;
		margin:15px;
		margin-left: 0;
		margin-right: 15px;
	}
	.searchTerm {
		width: 65vw;
	}
	::placeholder {
		font-size: 1.3em;
	}
	.searchButton {
		display: none;
	}
	.searchButtonmob {
		display: contents;		
	}
	.searchButtonmob span {
		background-color:#0065FC;
    	color:#ffffff;
    	margin-left: -10px;
    	border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		font-size: 1.1em;
	}
	.searchButtonmob span i {
		padding-top: 5px;
	}
	.heb {
		background-color: white;
		margin: 0;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10vw;
		padding: 0;
	}
	.card {
		justify-content: center;
		margin-left: 15px;
		margin-right: 15px;
	}
	.cardheb {
		width: 91vw;
		min-width: 0;
		margin-bottom: 15px;
	}
	.cardheb p {
		font-size: 0.8em;
	}
	.cardheb h4 {
		font-size: 0.9em;
	}
	.cardheb img {
		height: 50vw;
		width: 100%;
	}
	.cardpop {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}
	.textedroite p {
		font-size: 0.9em;
	}
	.textedroite h4 {
		margin-bottom: 2px;
	}
	.cardpop img {
		width:30VW;
		height: 30vw;
	}
	.activcard span {
		display: flex;
		flex-direction: column;
	}
	span .cardactun {
		height: 70vw;
		margin-right: auto;
	}
	span .cardactdeux {
		height: 70vw;
		margin-right: auto;		
	}
	span .cardacttrois {
		height: 70vw;
		margin-right: auto;
	}
	.cardactgrand {
		margin-right: 0px;
	}
	.activcard {
		margin-left: 15px;
		margin-right: 15px;
	}
	.activcard article {
		height: 70vw;
		width: 91vw;
		margin-bottom: 20px;
	}
	.activcard article h4 {
		margin: revert;
	}
	.activcard article img {
		padding-bottom: 0;
	}
	.cardactun img {
		height: 50vw;
	}
	.cardactdeux img {
		height: 50vw;		
	}
	.cardacttrois img {
		height: 50vw;
	}
	.cardactgrand img {
		height: 50vw;
	}
	footer {
		flex-direction: column;
		padding: 15px;
	}	
	footer div {
		width: auto;
	}
	footer div p {
		font-size: 1em;
	}
	footer h4 {
		font-size: 1em;
	}
}
@media all and (max-width: 473px) {
	.info i {
		margin-top: -30px;
	}
	.textedroite div {
		font-size: 0.8em;
	}
}